.uno{
    width: 1000px;
    padding-left: 300px;
    padding-top: 100px;
}
nav {
    background-color: darkblue;
    overflow: hidden;
    padding-left: 300px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: #dddddd;
    color: darkred;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}